In [39]:
import pandas as pd
import numpy as np

In [40]:
s0 = pd.Series(np.random.randint(1, 5, 20))
s=s0.copy()
s1 = s0.value_counts()
s1

2    8
3    6
4    4
1    2
dtype: int64

# Ejercicio: a) Seleccionar los dos valores mas frecuentes en s0 b) Crear un DataFrame uniendo a s0 una columna en la cual solo aparezcan los dos valores más frecuentes y al resto reemplazarlos por la cadena "Otra cosa"

In [41]:
sos=s1.index[:2]

In [42]:
s0.isin(sos) # ser.isin(ser.value_counts().index[:2])

0      True
1      True
2      True
3      True
4      True
5     False
6      True
7     False
8      True
9     False
10     True
11    False
12     True
13    False
14     True
15     True
16     True
17     True
18    False
19     True
dtype: bool

In [43]:
s0[~s0.isin(s1.index[:2])] = 'Otra cosa'
type(s)

pandas.core.series.Series

In [46]:
pd.concat([s0,s], axis=1)

            0  1
0           2  2
1           3  3
2           2  2
3           3  3
4           2  2
5   Otra cosa  1
6           2  2
7   Otra cosa  4
8           2  2
9   Otra cosa  4
10          2  2
11  Otra cosa  1
12          3  3
13  Otra cosa  4
14          3  3
15          3  3
16          2  2
17          2  2
18  Otra cosa  4
19          3  3

# Ejercicio 2:  ¿Cómo encontrar las posiciones de los numeros que sean multiplos de 3 en una serie?

In [ ]:
# Input
ser = pd.Series(np.random.randint(1, 10, 7))
ser

# Solution
print(ser)
np.argwhere(ser.to_numpy() % 3==0)